body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:12px;
  width:21px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:41px;
  top:21px;
  width:127px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1px;
  top:590px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:243px;
  top:590px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:122px;
  top:590px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1px;
  top:471px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:59px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u18 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:123px;
  top:471px;
  visibility:hidden;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:59px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:245px;
  top:471px;
  visibility:hidden;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:59px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u26 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:60px;
}
#u28 {
  position:absolute;
  left:2px;
  top:22px;
  width:118px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:75px;
  top:690px;
  width:304px;
  height:114px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:114px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
