body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:650px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:650px;
}
#u1 {
  position:absolute;
  left:2px;
  top:317px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:12px;
  width:21px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:41px;
  top:21px;
  width:37px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:82px;
  top:140px;
  width:200px;
  height:410px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:410px;
}
#u9 {
  position:absolute;
  left:2px;
  top:197px;
  width:196px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:42px;
  top:260px;
  width:280px;
  height:170px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:29px;
  width:276px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:42px;
  top:680px;
  width:460px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:64px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
